<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email-list</title>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- vue-js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- mettendo  che la ul appare in pagina solo se la lunghezza dell'array è uguale a 10 -->
        <!--  farà apparire le (li - mail) solo quando l'array non sarà pieno e non uno alla volta come succede non mettendo la condizione -->
       <ul v-if="mails.length===10">
           <!-- per ogni mail contenuta nell'array mails si genera un li con contenuto l'email -->
         <li v-for="mail in mails">{{mail}}</li>
       </ul>

    </div>
    <script src="js/script.js"></script>
</body>
</html>